@import "tailwindcss";

@theme {
  /* unbind default fonts and colors */
  --color-*: initial;
  /* --font-*: initial; */

  /* use colors defined in figma mockup */
  --color-primary: #D7BCAD;
  --color-secondary: #452F47;

  /* use fonts defined in figma mockup */
  --font-header: "Jersey 25";
  --font-content: "Jersey 20";
  --font-fine: "Jersey 15";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@utility text-stroke-* {
  text-shadow:
    -1px -1px 0 --value(--color-*),
    -1px 1px 0 --value(--color-*),
    -1px 0px 0 --value(--color-*),
    1px 1px 0 --value(--color-*),
    1px -1px 0 --value(--color-*),
    0px -1px 0 --value(--color-*),
    0px 1px 0 --value(--color-*),
    1px 0px 0 --value(--color-*);
}

@layer components {
  * {
    font-family: var(--font-content);
  }
}
