---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import Principles from "../components/Principles.astro";
---

<Layout>
  <div class="flex flex-col snap-y snap-mandatory min-h-screen h-screen max-h-screen overflow-y-scroll">
    <Hero />
    <Principles />
  </div>
</Layout>
