---
const { header, content } = Astro.props;
---

<div id="card" class="bg-primary p-5 flex flex-col gap-2 min-h-full">
  <h3 class="text-primary text-stroke-secondary text-3xl">- {header}</h3>
  <p class="text-secondary text-xl text-fine">{content}</p>
</div>
